*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

label {
  display: block;
  width: 70px;
  height: 70px;
  background: #22313F;
  position: absolute;
  margin: 80px 100px;
  > input {
    display: none;
  }
  
  ul {
    position: absolute;
    list-style: none;
    display: none;
    width: 400px;
    background: #67809F;
    left: 100%;
    top: 0;
    a {
      font-size: 1em;
      display: block;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .3em;
      color: #212121;
      transition: .25s;
      &:hover {
        background: #22313F;
        color: #fff;
      }
    }
  }
  
  i {
    display: block;
    height: 5px;
    width: 65%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: #FFF;
    }
    &:before {
      top: 15px;
      left: 0;
    }
    &:after {
      bottom: 15px;
      left: 0;
    }
  }
  
  > input:checked + ul {
    display: block;
  }
  
  &:hover {
    cursor: pointer;
  }
}
